<div class="home-container">
    <header>Job Search Application</header>
    
    <!-- <div>
        <button mat-button routerLink="/employees">Employees</button>
        <button mat-button routerLink="/user">User</button>
        <button mat-button routerLink="/admin">Admin</button>
        <button mat-button routerLink="/feedback">Feedback</button>
    </div> -->
    <nav>
        <div class="navbar">
    
                <button routerLink="/employees" type="button" class="btn btn-dark">Employers</button>
                <button routerLink="/user" type="button" class="btn btn-dark">Job Seekers</button>
    
                <button routerLink="/admin" type="button" class="btn btn-dark">Admin</button>
                <button routerLink="/feedback" type="button" class="btn btn-dark">About Us</button>
    
        </div>
    </nav>
</div>